<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <!-- <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.17.0/dist/katex.min.css">
  <script defer
    src="https://cdn.jsdelivr.net/npm/katex@0.17.0/dist/katex.min.js"></script>
  <script defer
    src="https://cdn.jsdelivr.net/npm/katex@0.17.0/dist/contrib/auto-render.min.js"
    onload="renderMathInElement(document.body,
      {delimiters:[{left:'$',right:'$',display:false},
                  {left:'$$',right:'$$',display:true}]});">
  </script> -->
  <script>
    window.MathJax = {tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] }};
  </script>
  <script id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
  <body>
    <main>
        <h1>{{ page.title }}</h1>
        <p class="home-link">
            <a href="{{ '/' | relative_url }}">home</a>
        </p>
        {{ content }}
    </main>
    <footer>
        <p>© {{ site.time | date: "%Y" }} hughmor</p>
    </footer>
  </body>
</html>