<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    {% include head-theme.html %}
  </head>
  <body>
    <main>
      <div class="home-page-header">
        <h1 class="home-page-title">{{ page.title }}</h1>
        {% include social.html %}
      </div>
        {{ content }}
    </main>
    <footer>
        <p>© {{ site.time | date: "%Y" }} hughmor &middot; {% include theme-toggle.html %}</p>
    </footer>
    {% include theme-script.html %}
  </body>
</html>